.section_header {
    margin: 0 auto;
    text-align: center;
    h2 {
        font-weight: 700;
    }
    .line {
        background: #fab10d;
        height: 2px;
        margin: 0 auto;
        margin-top: 30px;
        width: 150px;
    }
}
