footer {
    position: relative;
    padding: 40px 0;
    height: 60vh;
    background: url(../img/footer-texture-2.png) repeat center top;
    color:white;
    font-size: 14px;
    a {
        color:white;
        text-decoration: none;
        &:hover {
            color:white;
            text-decoration: none;
        }
    }
    .bottom_side {
        width: 100%;
        color: #656565;
        background: black;
        padding: 30px;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .footer_items { 
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        .item {
            width: 17%;
            i {
                margin-right: 5px;
            }
            &:nth-child(4) {
                width: 25%;
            }
            .info {
                margin-top: 30px;
            }
        }
        .social-icons {
            display: flex;
            padding-left: 0;
            margin: 0;
            margin-top: 30px;
            li {
                margin-right: 5px;
                list-style-type: none;
            }
            i {
                margin-right: 0;
                color: white;
            }
            a {
                display: block;
                text-align: center;
                background-color: #595959;
                color: #919191;
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                width: 36px;
                transition: 0.3s all;
                &:hover {
                    background-color: #fab10d ;
                }
            }
        }
    }
}

.font25 {
    font-size: 25px;
}
.yellow {
    color: #fab10d;
}