.partners {
    padding: 60px  0;
    .partners_list {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .partner {
            width: 16.6%;
            img {
                width: 135px;
            }
        }
    }
}