.animate__animated {
    display: none;
}
li.active {
    a {
        color: #fab10d !important;
    }
}
button[type=button] {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    color: white;
    display: none;
    &:hover {
        color: #fab10d ;
    }
    i {
        font-size: 30px;
        &:hover {
            color: #fab10d ;
        }
    }
   
}
.promo {
    position: relative;
    width: 100%;
    height: 90vh;
    .timerbar {
        width: 100%;
        position: absolute;
        z-index: 1000;
        top: 1px;
        height: 4px;
        .progress {
            height: 100%;
            background: white;
        }
    }

    .logo {
        z-index: 1;
       img {
            width: 80%;
       }
    }
    .slick-initialized .slick-slide {
        position: relative;
        overflow: hidden;
    }
    .slick-next , .slick-prev {
        opacity: 0;
        transition: .3s all;
        z-index: 10;
        position: absolute;
        top: 50%;
        &::before {     
            content: url('../icon/arrow.svg');
        }
    }

    .slick-next {
        right: 5%;
    }
    .slick-prev {
        transform: rotate(180deg);
        left: 5%;
    }
    .slider {
        z-index: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        span {
            margin-top: 30px;
            font-size: 25px;
            line-height: 35px;
        }
        .content {
            top: 50%;
            left: 11%;
            transform: translateY(-50%);
            position: absolute;
            color:white;
            overflow: hidden;
            div {
                margin-top: 20px;
                font-size: 25px;
                line-height: 35px;
            }

        }
        h1 {
            left: 110px;
            font-size: 40px;
            line-height: 40px;
            color:white;
        }
        img {
            width: 100%;
            height: 90vh;
            object-fit: cover;
        }
         .slick-current  {
            .animate__animated {
                display: block;
            }
        }
        &:hover {
            .slick-next , .slick-prev { 
                width: max-content;
                height: max-content;
                opacity: 1;
            }
        }
    }
    header {
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        z-index: 1000;
        width: 100%;
        transition: .3s all;
        position: fixed;
        top: 0;
        &.active {
            background: black;
        }
    }
    nav {
        z-index: 1;
        flex: 0.7;
    }
    ul.nav {
        display: flex;
        align-items:center;
        justify-content: space-evenly;
        padding-left: 0;
        li {
            font-size: 14px;
            list-style-type: none;
            text-transform: uppercase;
            a {
                text-decoration: none;
                transition: .3s all;
                color:white;
                &:hover {
                    color: #fab10d;

                }
            }
        }
    }
}