@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
@import "./universal/section_header";
@import "./universal/flip_card";
@import "./button";
@import "./waterfall";
@import "./promo";
@import "./language_picker";
@import "./support_project";
@import "./forms";
@import "./partners";
@import "./footer";
@import "./reports";
@import "./employees";
@import "./galery";
@import './media';

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.is-animated {
  animation: 0.6s zoom-in;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(210,210,210,.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.offcanvas {
  nav {
    ul {
      display: flex; 
      li {
        margin-top: 20px;
        width: 100%;
      }
      a {
        display: block;
        color: black;
        text-decoration: none;
        transition: .3s all;
        &:hover {
          color: #fab10d;
        }
      }
    }
  }

  .offcanvas-body {
      height: 100%;
      width: 100%;
      ul.language-picker__list {
        flex-direction: column;
        li {
          margin-top: 0;
          font-size: 23px;
        }
      }
      button {
        padding-left: 0;
        span {
          color: black;
        }
      }
  }
  .offcanvas-header {
    position: relative;
    background: black;
    .btn-close {
      border: none;
      background: none;
      color:white;
      opacity: 1;
      i {
        font-size: 25px;
        transition: .3s all;
        &:hover {
          color:#fab10d;
        }
      }
    }

  }
}


.left input[type=file] {
  position: relative;
 &::-webkit-file-upload-button {
    visibility: hidden;
  }
  &::after {
    content: 'YÜKLƏ';
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    background-color: #888989;
    position: absolute;
    right: 4px;
    float: none;
    height: 31px;
    margin: 0;
    padding: 0 20px;
    font-size: 13px;
    line-height: 31px;
  }
}




